//# Reboot
//
//*

body {
    width: 100%;
    fill: $body-color;

    @if $font-smothing {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


//## Lists
//
//*

ol,
ul,
dl {
    margin-bottom: spacer();
}

li {
    margin-bottom: spacer(2);

    & & {
        margin-bottom: spacer(1);
    }
}


//## Forms
//
//*

textarea {
    resize: vertical;
}


//## SVG
//
//*

svg {
    fill: inherit;
}


//## Transitions
//
//*

.btn,
button,
a {
    transition:
        color $transition,
        fill $transition,
        background $transition,
        border-color $transition,
        opacity $transition,
        filter $transition;
}


//## Text
//
//*

//### Selection
// ::selection {
//     background-color: lighten(theme-color("primary"), 50%);
// }


//### Misc

iframe {
    display: block;
    border: 0;
}

// mark,
// .mark {
//     color: $mark-color;
// }
