{% extends '../templates/_base.twig' %}

{% set PAGE = PAGES.home %}

{# {% set I_DATA = 0 %}
{% set P_DATA = PAGE.type[I_DATA] %} #}

{% block main %}
    <main>
        <h1>{{ PAGE.title }}</h1>
    </main>
{% endblock %}
