//# Application Variables
//
//*

$MIX_IS_PUB: false !default;

$path-img: '../img/';
$path-fonts: '../fonts/';
$path-svg: '../img/css/'; //** svg-load($path-svg + 'filename.svg')

@if $MIX_IS_PUB {
    //* Image path must be relative to *.scss files to make `processCssUrls` work
    $path-img: '../../img/';
    $path-fonts: '../../fonts/';
}


//## Global
//
//*

$fs-browser: 16;
$font-smothing: true;


// Body
//
// Settings for the `<body>` element.

$body-color: shade(9);
$body-bg: $white;

$t-dark-body-color: $white;
$t-dark-body-bg: $black;


//## Links
//
//*

$link-color: $body-color;
// $link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none;


//## Options
//
//*

// $enable-rounded: false;


//## Type
//
//*

$ff-serif: Arial;
$font-family-base: $ff-serif, $font-family-sans-serif;

//###
$lh-base: 1.5;
// $lh-sm: 1.2;
$lh-xs: 1.1;

$fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

$fw-base: $fw-normal;

// $font-weight-lighter: lighter;
$font-weight-light: $fw-light;
$font-weight-normal: $fw-normal;
$font-weight-bold: $fw-bold;
// $font-weight-bolder: bolder;

$font-weight-base: $fw-base;

// $dt-font-weight: $fw-normal;

//###

$fs-base: 1rem;
$fs-lg: $fs-base * 1.25;
$fs-sm: $fs-base * .875;

$font-size-base: $fs-base;
$font-size-lg: $fs-lg;
$font-size-sm: $fs-sm;

$line-height-base: $lh-base;

//###

//###

$fs-h1: $fs-base * 2.5;
$fs-h2: $fs-base * 2;
$fs-h3: $fs-base * 1.75;
$fs-h4: $fs-base * 1.5;
$fs-h5: $fs-base * 1.25;
$fs-h6: $fs-base;

$h1-font-size: $fs-h1;
$h2-font-size: $fs-h2;
$h3-font-size: $fs-h3;
$h4-font-size: $fs-h4;
$h5-font-size: $fs-h5;
$h6-font-size: $fs-h6;

//### Spacers

$spacer: $line-height-base * $font-size-base;
$spacers: (
  0: 0,
  1: (1/4 * $spacer),
  2: (1/2 * $spacer),
  3: (1.0 * $spacer),
  4: (1.5 * $spacer),
  5: (2.0 * $spacer),
);

//### Misc
// $headings-margin-bottom: spacer();
// $headings-font-family: null !default;
$headings-font-weight: $fw-medium;
$headings-line-height: $lh-xs; // 1.2 !default;
// $headings-color: null !default;

$paragraph-margin-bottom: spacer();
$headings-margin-bottom: spacer();

// $hr-margin-y: spacer(5);

$mark-padding: 0;
$mark-bg: transparent;
$mark-color: $primary;

$tappable-size: 44px;


//## Grid
//
//**

//### Gaps
// $grid-gutter-width: 36px;

$gap: $grid-gutter-width;
$gaps: (
  0: 0,
  1: (1/6 * $gap),
  2: (1/4 * $gap),
  3: (1/2 * $gap),
  4: (1.0 * $gap),
  5: (1.5 * $gap),
  6: (2.0 * $gap),
);


//## Components
//
//*

$border-width: 1px;
$border-color: rgba($black, .1);


//## Controls
//
//* Shared variables for Buttons & Forms

// $input-btn-padding-y: .375rem !default;
// $input-btn-padding-x: .75rem !default;
// $input-btn-font-family: null !default;
// $input-btn-font-size: $font-size-base !default;
// $input-btn-line-height: $line-height-base !default;

// $input-btn-focus-width: .2rem !default;
// $input-btn-focus-color: rgba($component-active-bg, .25) !default;
// $input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// $input-btn-padding-y-sm: .25rem !default;
// $input-btn-padding-x-sm: .5rem !default;
// $input-btn-font-size-sm: $font-size-sm !default;
// $input-btn-line-height-sm: $line-height-sm !default;

// $input-btn-padding-y-lg: .5rem !default;
// $input-btn-padding-x-lg: 1rem !default;
// $input-btn-font-size-lg: $font-size-lg !default;
// $input-btn-line-height-lg: $line-height-lg !default;

// $input-btn-border-width: $border-width !default;

// $input-placeholder-color: $gray-600 !default;
// $input-plaintext-color: $body-color !default;

// $input-bg: $white !default;
// $input-disabled-bg: $gray-200 !default;

// $input-color: $gray-700 !default;
// $input-border-color: $gray-400 !default;

// $input-focus-color: $input-color !default;

// $form-grid-gutter-width: 10px !default;
// $form-group-margin-bottom: 1rem !default;


//### Breakpoints
//* Twig: '/static/src/twig/_data/base.yml'
//* JS: '/static/src/js/_utils.js' (`ScreenMatch`)

// $grid-breakpoints: (
//   xs: 0,
//   sm: 425px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1280px,
// );

//### Containers

// $container-max-widths: (
//   sm: 400px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
// );


//## Transitions
//
//*

$transition: 0.15s;


//## Socials
//
//*

$brand-tg: #0088cc;
$brand-fb: #4267B2;
$brand-fbm: #006aff;
$brand-fbm-light: #00b2ff;
$brand-twt: #1da1f2;
$brand-ig: #c13584; // Dark Pink
