<!DOCTYPE html>
<html lang="{{ APP.lang }}">
    <head>
        {% include '../app/_head.twig' %}
    </head>

    <body>
        {% block main %}{% endblock %}

        {% include '../app/_js.twig' %}
    </body>
</html>
